@import "tailwindcss";

/* Esto le dice a Tailwind v4 que escanee explícitamente tus componentes de React */
@source "./src/**/*.{js,jsx,ts,tsx}";

:root {
  --color-maroon: #601a2a;
  --color-gold: #c5a059;
  --color-blue: #29b6f6;
  --color-text-dark: #1a1a1a;
  --color-text-muted: #6b7280;

  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-dark);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  min-height: 100svh;
}
